<html ng-app="excelfixApp">
<head>
	<!--<script src="angular-1.6.2/angular.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="excelfix.js"></script>
	<link rel="stylesheet" type="text/css" href="common.css">
	<title>ExcelFix</title>
</head>
<body ng-controller="excelfixControl">
	<h1 class='title'>&#9783; ExcelFix &#9783;</h1>

	<div class='box-border'>
		<span class='box-label'>Input</span>
		<textarea ng-model='input' placeholder="Paste text" class='box'></textarea>
	</div>
	<br>
	<center>
		<input type=button value='Fix' ng-click='fix()' class='btn'>
	</center>

	<br><br>
	<div class='box-border'>
		<span class='box-label'>Output</span>
		<textarea ng-model='output' readonly=1 class='box'></textarea>
	</div>
</body>
</html>
